body{
    font-family: 'Lato', sans-serif;
    background-color: #E5E5E5;
}

hr{
    border-bottom: 3px solid #0C3061;
}
.bluepart{
    background-color: #EBF8FE;
    height: 6rem;
}
.toptext {
    margin-top: -3rem;
    margin-left: 6rem;
}
.card.mt-3.skills {
    margin-left: 10rem;
    height: 6rem;
}
.card.mt-3.quickstaff {
    margin-left: 10rem;
    height: 6rem;
}
.card.h-50 {
    margin-top: 1rem;
}

img.scholar.h-50 {
    margin-left: 5rem;
}
img.skills.h-50 {
    margin-left: 7rem;
    margin-top: -7px;
}
img.fund.h-50 {
    margin-left: 9rem;
    margin-top: -7px;
}
img.quickstaff.h-50 {
    margin-left: 8rem;
    margin-top: -11px;
}
.col-md-4 {
    margin-top: -4rem;
}
/* progress bar */
.fund-progress-bar {
    width: 100%;
    background-color: #E5E5E5;
    border-radius: 22px;

}
.fund-progress-bar-fill {
    display: block;
    height: 9px;
    background-color: #8db859;
    border-radius: 18px;
    /* transition: width 500ms ease-in-out; */
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #8db859;
    border-color: #8db859;
}
.btn-outline-success{
    border-color: #8db859;
    color: #8db859;
}
.card.apply {
    margin-top: 1rem;
    margin-left: -10px;
    height: 5rem;
}
.card.fund {
    margin-top: 1rem;
    margin-left: -1px;
    height: 5rem;
}
.card.quickstaff{
    margin-left: -10px;
    height: 5rem;
    margin-top: 1rem;
}


@media (max-width: 576px){
    .col-sm-3.kings{
        margin-top: 2rem;   
    }
    .d-flex.flex-column.bd-highlight.flex-sm-column {
        margin-left: 5rem;
        margin-top: -7rem;
    }
    .bluepart{
        background-color: #EBF8FE;
        height: 10rem;
    }
    .col-sm-3.apply {
        margin-left: 0rem;
        margin-top: -1rem
    }
    .col-sm-3.subscribe {
        margin-left: -3rem;
        margin-top: -4rem;
    }
    .card.h-50{
        margin-top: 2rem;
        margin-left: -10px;
    }
    .card.apply {
        margin-top: -3rem;
        margin-left: -10px;
        height: 5rem;
    }
    .card.fund {
        margin-top: 5rem;
        margin-left: -10px;
        height: 5rem;
    }
    .card.quickstaff{
        margin-top: 5rem;
        margin-left: -10px;
        height: 5rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 800px){
    .card.h-50{
        margin-top: 2rem;
        margin-left: -10px;
    }
    .card.apply {
        margin-top: 2rem;
        margin-left: 7rem;
        height: 5rem;
    }
    .card.fund {
        margin-top: 2rem;
        margin-left: -10px;
        height: 5rem;
    }
    .card.quickstaff{
        margin-top: 2rem;
        margin-left: 7rem;
        height: 5rem;
    }
    .col-sm-2.my-3.first {
        margin-left: -3rem;
    }
    .col-sm-2.my-3.second {
        margin-left: 11rem;
    }
    .col-sm-2.my-3.third {
        margin-left: 11rem;
    }
    .col-sm-2.my-3.fourth {
        margin-left: -3rem;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1030px){
    .card.h-50{
        margin-top: 2rem;
        margin-left: -10px;
    }
    .card.apply {
        margin-top: 2rem;
        margin-left: 7rem;
        height: 5rem;
    }
    .card.fund {
        margin-top: 2rem;
        margin-left: -10px;
        height: 5rem;
    }
    .card.quickstaff{
        margin-top: 2rem;
        margin-left: 7rem;
        height: 5rem;
    }
    .col-sm-2.my-3.first {
        margin-left: -4rem;
    }
    .col-sm-2.my-3.second {
        margin-left: 0rem;
    }
    .col-sm-2.my-3.third {
        margin-left: 0rem;
    }
    .col-sm-2.my-3.fourth {
        margin-left: 0rem;
    }
}