/* google fonts */
body{
    font-family: 'Lato', sans-serif;
    background-color: #F4F4F4;
}
.horizontal{
    height: 4px;
}



@media (min-width: 576px) {
    .d-flex.justify-content-end{
        margin-left: 12rem;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }
