/* google fonts */
body{
    font-family: 'Lato', sans-serif;
    background-color: #F4F4F4;
}
.horizontal{
    height: 4px;
}


@media (max-width: 576px) {
    footer{
        margin-top: 19rem;
    }

@media (min-width: 768px) { 
    footer{
        margin-top: 42rem;
    }
}
}
/* // Large devices (desktops, 992px and up) */
/* @media (max-width: 1024px) {
    footer{
        margin-top: 62rem;
    }
  }
} */