/* google fonts */
body{
    font-family: 'Lato', sans-serif;
    background-color: #F4F4F4;
}
/* navbar styling */
.container.maincontainer {
    margin-top: 3rem;
}
/* progress bar */
.fund-progress-bar {
    width: 100%;
    background-color: #E5E5E5;
    /* padding: 3px; */
    border-radius: 22px;
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2); */
}
.fund-progress-bar-fill {
    display: block;
    height: 9px;
    background-color: #8db859;
    border-radius: 18px;
    /* transition: width 500ms ease-in-out; */
}
