/* google fonts */
body{
font-family: 'Mada', sans-serif;
}

/* responsive media query */
@media (min-width: 375px) { 
    .nav-link.facebooklogo{
        margin-left: 100px;
    }
    button.btn.btn-secondary.mt-4.ml-4.px-5{
       
    }
}

@media (min-width: 320px) { 
    .nav-link.facebooklogo{
        margin-left: 100px;
    }
    button.btn.btn-secondary.mt-4.ml-4.px-5{
       
    }
 }


@media (min-width: 992px) { 
    /* .nav-link.facebooklogo{
        margin-left: 10px;
    } */
 }


@media (min-width: 1200px) { 
    /* .nav-link.facebooklogo{
        margin-left: 10px;
    } */
 }